.footer {
  background-color: #333333bd;
  color: white;
  display: flex;
  justify-content: space-evenly; /* left, center, right */
  text-align: left;
  
  
  backdrop-filter: blur(8px);
}

.footer-section {
  flex: 1;
  min-width: 200px;
}

.footer h3 {
  margin-bottom: 15px;
  font-weight: 600;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
