*{
    margin: 0px;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: rgba(253, 252, 175, 0.644);
}
header{
    display: flex;
}

img{
    width: 50px;
    height: 50px;
}
.Main{
    background-color: tan;
}
.Nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
  
    height: 50px;
}
.Nav ul{
    display: flex;
    justify-content: space-around;
    gap: 50px;
    list-style: none;
    
}
.Nav ul li a{
    text-decoration: none;
    color: black;
}
.Nav button a{
 text-decoration: none;
    color: black;

}
button{
    border-radius: 20%;
    width: 150px;
    height: 50px;
    background-color: rgba(219, 219, 219, 0.397);
}
button:hover{
    background-color: chartreuse;
}
