h1{

    border : 2px solid;
    position: relative;
    left: 50px;

}
h1:hover{
    background-color: blanchedalmond;
}
h1:active{
    background-color: green;
}

div{
    border: 2px;
    border-radius: 40%;
    border-style: dashed;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 100px;
    left: 40%;
}
#sec{
      border: 2px;
    border-radius: 40%;
    border-style: dashed;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 100px;
    left: 60%;

}