body{
    background-image: url(./annie-spratt-6a3nqQ1YwBw-unsplash.jp);
    background-size: cover;
    background-repeat: no-repeat;
}
#item1{
    width: auto;
    position: absolute;
    top: 100px;
    left: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(191, 191, 199, 0.075);
}
#img1{
    width: 300px;
    height: 300px;
}
p{
    background-color: rgba(128, 128, 128, 0.342);
    display: inline-block;
    position: absolute;
    top: 350px;
}
#price1{
    left: 280px;
}
button{
    background-color: blue;
    color: white;
    border-radius: 10%;
    border: none;
    width: 100px;
    height: 40px;
}
#item2{
    position:absolute;
    left: 500px;
    top: 100px ;
      padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(191, 191, 199, 0.075);
}
#item3{
     position:absolute;
    left: 900px;
    top: 100px ;
      padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(191, 191, 199, 0.075);

}